name: Optimize Images
on:
  push:
    paths:
      - 'docs/assets/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Pillow
        run: pip install Pillow

      - name: Run Compression
        run: python python_projects/compress_images.py

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: auto-optimize images [skip ci]"